@font-face {
   
    src: url(../fonts/VastShadow-Regular.ttf);
    font-family: VastShadow;

}
@font-face {
   
    src: url(../fonts/Acme-Regular.ttf);
    font-family: Acme;

}
@font-face {
   
    src: url(../fonts/Inter-VariableFont_opsz,wght.ttf);
    font-family: Inter;

}
@font-face {
   
    src: url(../fonts/LibreCaslonText-Regular.ttf);
    font-family: LibreCaslonText;

}
@font-face {
   
    src: url(../fonts/Lusitana-Regular.ttf);
    font-family: Lusitana;

}
@font-face {
   
    src: url(../fonts/LuxuriousRoman-Regular.ttf);
    font-family: LuxuriousRoman;

}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e4dede;
    background-size: cover;
    background-position: center;
   
}

.container{
  
    width: 100%;
    max-width: 3000px;
  
    margin: 80px auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
    
    }

.checkoutbox{
    background-color: #fff;
    
    width: 100%;
    max-height: fit-content;
    display: flex;
        align-items: center;
        flex-direction: column;
        
    border-radius:3% ;
    
    padding: 2%;
   
    
    }
    .addressbox {
        border: #000 2px solid;
        width: 100%;
        margin: 0 0 20px 0;
        display: block;
        padding: 1% 1%;

    }

.addressbox label{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.addressbox label img{
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.addressbox input{
width: 95%;
height: 4   0px;
font-size: 18px;
margin-left: 5%;
border: none;


}
 .productbox{
    border: #000 1px solid;
width: 100%;
 display: block;
padding: 1% 0;
 display: block;
            }
    
 #productsorderedtitle{
    font-size: 20px;
    color: #000;     
 font-family: Lusitana;   
 padding: 0 2%;
 }

.productsordered{
  
    max-height: 30vh;
    overflow: scroll;
    }
 
 .fieldnames{
display: flex;
flex-direction: row;
justify-content: flex-end;
padding: 10px 2% 0 2%;
 }

 .fieldnames p{
font-size: 1.2vw;
width: 16%;
text-align: center;

 }

    .productdetails{     
        display: flex;
        flex-direction: row;
        padding : 3% 2%;
       align-items: center;
       justify-content: flex-end;
border-bottom: 1px solid #83837E;

        }

    .productdetails img{
        width: 16%;
        aspect-ratio: 1/1;
    }

    .productdetails p{
    font-size: 1.2vw;
    width: 16%;
    text-align: center;
    color: #000;
    font-family: Lusitana;
    }
          
    #productname{
        width: 20%;
    }
  


    .messageshipping{
        border: #000 1px solid;
       width: 96%;
        display: flex;
        flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    justify-self: center;
    margin-top: 20px;
}


    .messageshipping label{
       
        width: 20%;
       font-size: 1.1vw;
        color: #000;
   font-family: LuxuriousRoman;  
   text-align: right;
    }
 
    #message{
        border: #000 1px solid;
        width: 24%;
        height: 10vh;
       
        }

.messageshipping span{
width: 1px;
height: 20vh;
background-color: #636361;


}

    #shipping  {
        width: 24%;
        height: 10vh;
   border: #000 1px solid;
       display: flex;
    justify-content: flex-end;
     
    }
  
#change{
    background-color: transparent;
height: 30%;
font-size: 1vw;
text-decoration: underline;
font-family: LibreCaslonText;
cursor: pointer;
border: none;
}   


.ordertotal{
   
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    justify-self: flex-end;
    padding: 10px 0;
    margin-right: 2%;
}


#ordertotallabel{
    width: 50%;
    text-align: right;
}
#ordertotalvalue{
    width: 50%;
    text-align: center;
    font-size: 1.5vw;
    color: #000;
    font-family: LibreCaslonText;

}

    .summarybox{
        background-color: white;
        width: 100%;
        max-height: fit-content;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 5%;
  
  
        
    }
    
    .paymentdiv{
      
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 3% 0;
        font-size: 1.3vw;
    }

    #payment{
        font-size: 1.3vw;
    }
   

    .calculation {
        width: 100%;
        border-top: 1px solid #636361;
        border-bottom: 1px solid #636361;
        padding: 3% 0;
       
    }
  
    .calculation p{
width: 45%;
font-size: 1.2vw;
color: #000;
display: inline-block;
padding-left: 10px;
text-align: right;
padding: 10px 0;
margin-left: 3%;

    }


#merchandisevalue, #shippingvalue, #discountvalue, #totalpaymentvalue{
    text-align: center;
    font-size: 1.5vw;
}

#placeorder{
    background-color: #636361;
    border: none;
    width: 30%;
    aspect-ratio: 9/3;
    font-size: 1.2vw;
    color: white;
    font-family: LibreCaslonText;
    font-weight: 800;
    margin: 2%;
    align-self: end;
    cursor: pointer;
    border-radius: 5%;
}

#placeorder:hover{
    background-color: #dbdbd3;
    color: black;
}
    
    

