@font-face {
   
    src: url(../fonts/Inter-VariableFont_opsz,wght.ttf);
    font-family: Inter;

}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    
}

body {
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
   background-color: #e6e6e6;
    background-size: cover;
    background-position: center;
}


.navbar {
    display: flex;
    position: fixed;
    top:0;
    width:100%;
    justify-content: left;
    align-items: center;
    background-color: rgba(42, 42, 42);
    padding: 10;
    height: 36;
   
}

.logo {
    height: auto;
    margin: 0;
     
}



.navbar-links{
list-style: none;
background: rgba(42, 42, 42);

}

.navbar-links li{
display: inline-block;
position: relative;

}

.navbar-links li a{
color: #fff;
text-decoration: none;
padding: 18px 25px;

display: block;
text-align: center;

font-size: 20px;
}
.navbar-links li img{
    margin-left: 10px;
    margin-top: -10px;
    margin-bottom: -5px;
    
    }


.navbar-links li ul.catdropdown li {

    display: block;

}

.navbar-links li ul.catdropdown{
    
    width: 100%;
    
    background: rgba(42, 42, 42);
    position: absolute;
    z-index: 999;
    display: none;
}

.navbar-links a:hover{
    background: rgb(65, 65, 65);
}

.navbar-links li:hover ul.catdropdown{
    display: block;
}

.navbar-links li ul.brandsdropdown li {

    display: block;

}

.navbar-links li ul.brandsdropdown{
    
    width: 100%;
    
    background: rgba(42, 42, 42);
    position: absolute;
    z-index: 999;
    display: none;
}



.navbar-links li:hover ul.brandsdropdown{
    display: block;
}














.search-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    background-color: rgba(186,186,186);
    border: #ffffff 2px solid;
    border-radius: 30px;
    padding: 5px;
    height: 40px;
}

.search-container input{
    background-color: transparent;
}
.search-container input ::placeholder{
    color: #000000;
    font-family: VastShadow;
    font-size: medium;
}
#search-bar {
    padding: 8px;
    border: none;
    border-radius: 4px 0 0 4px;
    outline: none;
    flex: 1;
}

#search-icon {
    padding: 8px;
    
    color: #fff;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

#search-icon img {
    width: 20px;
    height: 20px;
}
.cart-user{
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 2%;
}
.cart-user img{
    width: 30px;
    height: 30px;
    margin: 0 10px;

}
.cart-user span{
    background-color: rgba(255, 255, 255, 0.37);
    width: 5px;
    height: 30px;
    
}



.container{
    width: 90%;
    display: flex;
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    flex-direction: column;
    
}

.Category{

    background-color: rgba(49,49,49);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 50px;
    margin-bottom: 20px;

}

.categoryTitle{
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;
    text-align: center;
    width:100%;
    
}

.categorygrid {
    
  width:100%;
  display:grid; 
  
grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);

 
}


.catitem{
   
width:100%;
aspect-ratio: 4/3;
border: 1px solid rgba(0,0,0,0.31);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}


.catitem img{
width:80%;
aspect-ratio:16/9;
object-fit:scale-down;



}

.catitem p{
color: white;
font-size: 20px;
margin-top: 10px;
text-align: center;
}



.bestsellers{

    margin-top: 20px;
    margin-bottom: 50px;
       width: 100%;
       max-width: 1500%;
       
       
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       align-items: center;
   }
   
   
   .bestsellersheader{
   
       background-color: #c5c5c2;
       width: 100%;
       height: 100px;
       display: flex;
       align-items: center;
       justify-content: center;
      
       
   }
   
   .bestsellersheader h1{
       color: black;
       font-family: SongMyung;
      font-size: 40px;
   }
   
   
   .bestsellersgrid{
      
       width: 100%;
   margin-top: 20px;
       height: auto;
       display: grid;
     
   grid-template-columns: repeat(4, 1fr);
     grid-template-rows: repeat(2, 1fr);
     grid-gap: 25px;
     
    
   }
   
   .bestsellersitem{
       background-color: #F0E9F5;
       border: rgba(0,0,0,0.31) 2px solid;
   width:100%;
   display: flex;
   flex-direction: column;
   align-items: left;
   justify-content: flex-start;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
   
   }
   
   .bestsellersitem img{
       width: 100%;
      
       object-fit: scale-down ;
       
       }
   
       .bestsellersitem h1{
           width: 60%;
           margin-top: 10px;
           margin-bottom: 40px;
          
           color: black;
           font-size: 25px;
           margin-left: 10px;
           }
   
           .bestsellersitem p{
               width: 60%;
               margin-bottom: 10px;
            
               color: black;
   
               font-size: 18px;
               margin-left: 10px;
               }
   