
/* Navbar styling */
.navbar {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: left;
    align-items: center;
    background-color: rgba(42, 42, 42);
    padding: 10px;
    height: 36;
    z-index: 999;
}

.logo {
    height: auto;
    margin: 0;
}

.navbar-links {
    list-style: none;
    background: rgba(42, 42, 42);
}

.navbar-links li {
    display: inline-block;
    position: relative;
}

.navbar-links li a {
    color: #fff;
    text-decoration: none;
    padding: 18px 25px;
    display: block;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    justify-content: center ;
}

.navbar-links li img {
    margin-left: 10px;
    margin-top: -10px;
    margin-bottom: -5px;
}

.navbar-links li ul.catdropdown li {
    display: block;
}

.navbar-links li ul.catdropdown {
    width: 100%;
    background: rgba(42, 42, 42);
    position: absolute;
    z-index: 999;
    display: none;
}

.navbar-links a:hover {
    background: rgb(65, 65, 65);
}

.navbar-links li:hover ul.catdropdown {
    display: block;
}

.navbar-links li ul.brandsdropdown li {
    display: block;
}

.navbar-links li ul.brandsdropdown {
    width: 100%;
    background: rgba(42, 42, 42);
    position: absolute;
    z-index: 999;
    display: none;
}

.navbar-links li:hover ul.brandsdropdown {
    display: block;
}

.search-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    background-color: rgba(186,186,186);
    border: #ffffff 2px solid;
    border-radius: 30px;
    padding: 5px;
    height: 40px;
}

.search-container input {
    background-color: transparent;
    
}

.search-container input::placeholder {
    color: #000000;
    font-family: VastShadow;
    font-size: medium;

}

#search-bar {
    padding: 8px;
    border: none;
    border-radius: 4px 0 0 4px;
    outline: none;
    flex: 1;
}

#search-icon {
    padding: 8px;
    color: #fff;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

#search-icon img {
    width: 20px;
    height: 20px;
}

.cart-user {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 2%;
}

.cart-user img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.cart-user span {
    background-color: rgba(255, 255, 255, 0.37);
    width: 5px;
    height: 30px;
}

.search-results-container {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 80%;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-height: 300px;
    overflow-y: auto;
    display: none;
    z-index: 10;
}

.search-result-item {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.search-result-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}

.search-result-item p {
    margin: 0;
}

.search-result-item:hover {
    background-color: #f0f0f0;
}

#search-bar:focus + #search-results {
    display: block;
}
