* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body {
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.container {
    
    width: 100%;
  
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    max-height: fit-content;
}

.menu {
width: 300px;
max-height: fit-content;
display: flex;
flex-direction: column;
padding-left: 20px;


}

.useraccount{
    width: 100%;
   
    display: flex;
    flex-direction: row;
    border-bottom: 3px #D9D9D9 solid;
    margin-bottom: 10px;
    padding: 10px 0;
}

.profilepic{
height:100%;
width: 35%;

}

.profilepic img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.profilename{
    height:100%;
    width: 65%;
   
    text-align: center;
    align-content: center;
  }
  
 
.menu button{
    width: 170px;
  font-weight: 750;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    border:none;
    background-color: transparent;
}

#logout{
   display: flex;
   margin-left: 0;
  justify-content: center;
    
}

.menu button img{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 10px;
}


.menu span{

    width: 165px;
    height: 3px;
    background-color: #D9D9D9;
    margin: 3px 5px;
    border:none;
}

#myorders{
    background-color: #ffffff;
}

#myorders:hover{
    background-color: #737577;
}


.ordercontainer{
    width: 90%;
    max-height: fit-content;
    margin: 0 3%;
   
   

}
.fieldnamebox{
    background-color: #e2e2e2;
    width  : 100%;
    border-radius: 10px;
    padding: 0 3.5% 0 2%;
    

}
.fieldnames{
 
width  : 100%;
padding: 1% 0;
display: flex;
flex-direction: row;
text-align: center;
align-items: center;
}

.fieldnames p{
    width: 10%;
    font-size: 1.3vw;
   
}

.fieldnames span{
    width:3%;
}

.productlist{
   
    width  : 100%;
   max-height: 75vh;
   overflow: scroll;
    padding: 30px 2%;

}

.productbox{
    background-color: #e2e2e2;
    width  : 100%;
    
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;

}

.productdetails{

    width: 100%;
    display: flex;
    position: relative;
    flex-direction: row;
    text-align: center;
    align-items: center;
    margin-top: 2%;
   

}

.productdetails img {
    width:8%;
    aspect-ratio: 1/1;
    object-fit: contain;
    background-color: transparent;

}

.productdetails p{
    width: 15%;
    font-size: 1.3vw;
    
}


#statusvalue{
    font-weight: 800;
}
.productdetails span{
    width: 1.55%;
}

.productdetails button{
   
    width: 8%;
    aspect-ratio: 9/3;
    background-color: #83837E;
    color: #fff;
    font-size: 1.3vw;
    font-weight: 800;
    cursor: pointer;
    border: none;
 
}

